__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.DS_Store
logs/*.log
artifacts/predictions.csv
/data/heart_disease.csv
/artifacts/model.pkl
/artifacts/model_metadata.json
/artifacts/confusion_matrix.png
/artifacts/feature_importance.png
.ipynb_checkpoints/
mlruns/*
!mlruns/README.md
/.dvc/cache
/.dvc/tmp
